PORT=3001
MONGODB_URI=mongodb://franlavof_db_user:V07H9fqubdecGyr5@ac-wacf2xh-shard-00-00.yd2mngs.mongodb.net:27017,ac-wacf2xh-shard-00-01.yd2mngs.mongodb.net:27017,ac-wacf2xh-shard-00-02.yd2mngs.mongodb.net:27017/?ssl=true&replicaSet=atlas-qc9szk-shard-0&authSource=admin&appName=Cluster0
# Hardcoded admin token (no auth system required per spec)
# ADMIN_TOKEN=wink-admin-secret-token-2024